@-ms-viewport{
    width: device-width;
  }


html{
  scroll-behavior: smooth;
}


body{
    margin: 0px;
    padding: 0px;
    background: #3f4448;
    color: rgba(255, 255, 255, 0.9);
    -webkit-font-smoothing: antialiased;
    }

.abcRioButton{
  border-radius: 10px;
}
.abcRioButtonLightBlue{
  background-color: rgba(22, 25, 28, 0.4);
  color: white;
}
.abcRioButtonContents{
  font-family: Comfortaa;
}
  
  #loader{
    height: 100%;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 999;
  }
  #loader img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .jumbotron{
    margin-top: 20vh;
    /* margin-bottom: 10vh; */
  }
/*start box animation */
  
  .animation-area{
    width: 100%;
    height: 100vh;
  }

  .box-area{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 102.5%;
    overflow: hidden;
  }

  .box-area li{

    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(255, 255, 255, 0.4);
    animation: animate 20s linear infinite;
    bottom: -150px;
  }
  .box-area li:nth-child(1){
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
  }
  .box-area li:nth-child(2){
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
  }
  .box-area li:nth-child(3){
    left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 5.5s;
 
  }
  .box-area li:nth-child(4){
    left: 42%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 15s;
  }
  .box-area li:nth-child(5){
    left: 65%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
  }
  .box-area li:nth-child(6){
    left: 15%;
    width: 110px;
    height: 110px;
    animation-delay: 3.5s;
    animation-duration: 10s;
  }

  @keyframes animate{
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100%{
        transform: translateY(-800px) rotate(360deg);
        opacity: 0;
    }
  }
/* end box animation */

.header{
    background-image: url("Images/codingwall.jpg");
    background-size: auto; 
    background-attachment: fixed;
    font-family: 'Press Start 2P', cursive;
    /* color: honeydew; */
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    height: 100vh;
    /* padding-bottom: 100px; */
}

.dropdown-menu .dropdown-item{
    color: ivory;
}


.navbar-brand img{
    height: 45px;
}

#navmain{
    margin-bottom: 6rem;
}

.h1, h1{
    font-size: 6vw;
}

h2{
    font-family: Comfortaa;
    font-weight: 600;
    font-size: 1.8rem;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 300;
}

p{
    font-family: Comfortaa;
    font-weight: 200;
    font-size: 1rem;
}