html{
    scroll-behavior: smooth;
    background-color: black;
  }
body{
    
    background: rgba(74, 6, 130,0.7);
}
a{
    color: aliceblue;
    font-family: Comfortaa;
}

a:hover{
    color: plum;
}

.navbar-brand img{
    height: 7vh;
}
.navbar.scrolled {
    background:rgba(110, 9, 183, 0.7);
    transition: background 500ms;
}

#header{
    
    height: 100vh;
    width: 100%;
    background-image: url(cover3.jpg);
    background-attachment: fixed;
    background-position: center;
}



/* #reglink{
  margin-left: 55vh;
} */

h1{
    padding-top: 30vh;
    color: rgba(240, 248, 255, 0.9);
    font-family: Pacifico;
    font-size: 10vh;
}
h2{
    color: rgba(240, 248, 255, 0.8);
    font-family: Comfortaa;
    font-size: 5vh;
    font-weight: 100;
    margin-bottom: 20vh;
    margin-top: 5vh;
}
h3{
    font-family: Comfortaa;
    font-weight: 300;
    color: aliceblue;
    font-size: 5vh;
}
p{
    font-family: Comfortaa;
    font-size: 2.5vh;
    color: aliceblue;
}
.bluel{
  color: plum;
}

.table-dark{
  color: #fff;
  background-color: rgb(59, 4, 107);
}

#quote{
  font-size: 4vh;
}

#reg{
  font-family: Comfortaa;
  font-size: 2.5vh;
}

/*start box animation */
  
.animation-area{
    width: 100%;
    height: 100vh;
  }

  .box-area{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .box-area li{

    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(255, 255, 255, 0.4);
    animation: animate 20s linear infinite;
    bottom: -150px;
  }
  .box-area li:nth-child(1){
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
  }
  .box-area li:nth-child(2){
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
  }
  .box-area li:nth-child(3){
    left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 5.5s;
 
  }
  .box-area li:nth-child(4){
    left: 42%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 15s;
  }
  .box-area li:nth-child(5){
    left: 65%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
  }
  .box-area li:nth-child(6){
    left: 15%;
    width: 110px;
    height: 110px;
    animation-delay: 3.5s;
    animation-duration: 10s;
  }

  @keyframes animate{
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100%{
        transform: translateY(-800px) rotate(360deg);
        opacity: 0;
    }
  }
/* end box animation */
#list  {
    font-family: Comfortaa;
    font-size: 2.5vh;
    color: aliceblue;
}
table{
  margin-top: 7vh;
  margin-bottom: 20vh;
} 
#tableof{
 border-radius: 0px 25px 25px 0px;   
 height: 80vh;

}
  #tableof .rbw:nth-child(1), .gold {
    background: rgba(255, 215, 0, 0.8);
    color: black;
  }
  
  #tableof .rbw:nth-child(2), .silver {
    background: rgba(192, 192, 192, 0.8);
    color: black;
  }
  
  #tableof .rbw:nth-child(3), .bronze {
    background: rgba(205, 127, 50, 0.8);
    color: black;
  }
  #slno{
    border-radius: 25px 0px 0px 25px;
    height: 80vh;

  }
  