body{
  background: url(codingwall.jpg);
}
table{
  margin-top: 20vh;
  margin-bottom: 20vh;
} 
  #tableof .rbw:nth-child(1), .gold {
    background: gold;
    color: black;
  }
  
  #tableof .rbw:nth-child(2), .silver {
    background: #c0c0c0;
    color: black;
  }
  
  #tableof .rbw:nth-child(3), .bronze {
    background: #cd7f32;
    color: black;
  }
  