html{
  background: url(codingwall.jpg);
  background-attachment: fixed;
}
table{
  margin-top: 10vh;
  margin-bottom: 20vh;
} 
#tableof{
 border-radius: 0px 25px 25px 0px;   
}
  #tableof .rbw:nth-child(1), .gold {
    background: gold;
    color: black;
  }
  
  #tableof .rbw:nth-child(2), .silver {
    background: #c0c0c0;
    color: black;
  }
  
  #tableof .rbw:nth-child(3), .bronze {
    background: #cd7f32;
    color: black;
  }
  #slno{
    border-radius: 25px 0px 0px 25px;
  }
  
  h2{
    font-family: Comfortaa;
    font-weight: 600;
    font-size: 4vh;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 300;
}
h3{
    font-family: Comfortaa;
    font-weight: 600;
    font-size: 3vh;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 300;
    padding-bottom: 3vh;
}

p{
    font-family: Comfortaa;
    font-weight: 200;
    font-size: 2.5vh;
    color:rgba(255, 255, 255, 0.9) ;
}

.container{
  margin-top: 0rem;
  background-color: rgba(44, 48, 52, 0.7);
}
#leaderbrd{
  padding-bottom: 20vh;
}